.articles {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}


.article {
    display: block;
    width: 350px;
    border: 1px solid silver;
    padding: 20px;
}

.article img {
    max-width: 348px;
}